/* Footer styles */
footer {
    position: fixed; /* Set footer position as fixed */
    bottom: 0; /* Align footer to the bottom of the viewport */
    left: 0; /* Align footer to the left */
    width: 100%; /* Set footer width to full */
    background-color: #000; /* Set footer background color */
    color: #fff; /* Set footer text color */
    padding: 20px; /* Add padding to footer */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space content evenly along the main axis */
    align-items: center; /* Center align items vertically */
  }
  
  footer a {
    color: #fff; /* Set link color in footer */
  }
  
  .logo {
    margin-right: auto; /* Push the logo to the left */
  }