/* Footer styles */
footer {
    box-sizing: border-box;
    position: fixed; /* Position fixed to keep it at the bottom */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    padding: 20px;
    background: #000; /* Set footer background color */
    color: #fff; /* Set footer text color */
  }
  
  /* Adjust the logo size */
  footer img {
    width: 40px; /* Adjust the width of the logo */
  }
  
  /* Footer link styles */
  footer a {
    color: #fff; /* Set link color in footer */
    text-decoration: none; /* Remove default underline */
    margin-right: 20px; /* Add margin between links */
  }
  
  /* Footer link hover styles */
  footer a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  
  /* Center align the text in footer */
  footer span {
    display: inline-block;
    text-align: right; /* Align the text to the right */
  }
  